# git ignore file
_UpgradeReport_Files*/
TestResults/
Samples/
sdk/
Backendless/Backedless-Universal-W8.sln
Backendless/Bin/Debug/*
Backendless/Bin/NET_45/Debug/*
package-sdk/*
Backendless.NET.suo
Backendless/UpgradeLog*.htm
Backendless/*.suo
Backendless.NET.suo
Backendless.NET.v11.suo
Backendless.zip
Backendless/.DS_Store
Backendless/BackendlessWP.csproj
Backendless/BackendlessWP.csproj.user
Backendless/BackendlessWP-2013.sln
Backendless/BackendlessWP-2013.v12.suo
Backendless/BackendlessWP-vs2010.csproj.user
Backendless/Bin/.DS_Store
Backendless/Dependency/.DS_Store
Backendless/Dependency*/
Backendless-vs2013.NET.sln
Backendless-vs2013.NET.v12.suo
Samples/DataService/ToDoDemo/Bin*/
Samples/DataService/ToDoDemo/obj*/
*.DS_Store
Samples/GeoService/GeoServiceDemo/obj/Debug*/
Samples/GeoService/GeoServiceDemo/obj/Release*/
Samples/GeoService/GeoServiceDemo/Bin/Debug*/
Samples/GeoService/GeoServiceDemo/Bin/Release*/
Samples/MessagingService/PubSubDemo/obj/Debug*/
Samples/MessagingService/PubSubDemo/obj/Release*/
Samples/MessagingService/PubSubDemo/Bin/Debug*/
Samples/MessagingService/PubSubDemo/Bin/Release*/
Samples/MessagingService/ToDoDemo/obj/Debug*/
Samples/MessagingService/ToDoDemo/obj/Release*/
Samples/MessagingService/ToDoDemo/Bin/Debug*/
Samples/MessagingService/ToDoDemo/Bin/Release*/
Samples/MessagingService/UserServiceDemo/obj/Debug*/
Samples/MessagingService/UserServiceDemo/obj/Release*/
Samples/MessagingService/UserServiceDemo/Bin/Debug*/
Samples/MessagingService/UserServiceDemo/Bin/Release*/
Samples/DataService/ToDoDemo/Bin/Release/ToDoDemo.dll
Samples/DataService/ToDoDemo/Bin/Release/ToDoDemo.pdb
Samples/DataService/ToDoDemo/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Samples/DataService/ToDoDemo/obj/Release/ToDoDemo.csproj.FileListAbsolute.txt
Samples/DataService/ToDoDemo/obj/Release/ToDoDemo.csprojResolveAssemblyReference.cache
Samples/DataService/ToDoDemo/obj/Release/ToDoDemo.dll
Samples/DataService/ToDoDemo/obj/Release/ToDoDemo.pdb

Backendless.NET.userprefs

ConsoleTest*/
Local.testsettings
TraceAndTestImpact.testsettings
Backendless/Backedless-Universal-W8.csproj
Backendless/Backedless-Universal-W8.csproj.user

.vs/
packages/
.idea/
**/obj/

Projects/Backendless.Test/bin/Debug*/
Projects/Backendless.Test/bin/Release*/
Projects/Backendless.Test/bin/UNITY_WEB_PLAYER*/
Projects/BackendlessUnitySDK/Temp*/
Projects/BackendlessUnitySDK/obj*/
Projects/BackendlessUnitySDK/Library*/
Projects/BackendlessUnitySDK/BackendlessUnitySDK.suo


