# git ignore file
_UpgradeReport_Files*/
Backendless.Test/
Backendless/obj
TestResults/
Backendless.Test/.DS_Store
Backendless.Test\bin\Release*/
Backendless.Test\bin\UNITY_WEB_PLAYER*/
Backendless.zip
Backendless/.DS_Store
Backendless\obj*/
Backendless.Test\bin\Release*/
Backendless.Test\bin\UNITY_WEB_PLAYER*/
Backendless/BackendlessWP.csproj
Backendless/BackendlessWP.csproj.user
Backendless/BackendlessWP-2013.sln
Backendless/BackendlessWP-2013.v12.suo
Backendless/BackendlessWP-vs2010.csproj.user
Backendless/Bin/.DS_Store
Backendless/Dependency/.DS_Store
Backendless\Dependency*/
Backendless\obj*/
Backendless-vs2013.NET.sln
Backendless-vs2013.NET.v12.suo
Samples\DataService\ToDoDemo\Bin*/
Samples\DataService\ToDoDemo\obj*/
Backendless\obj\NET_40_Debug*/
Backendless\obj\NET_40_Debug*/
Backendless\obj\UNITY_WEB_PLAYER*/
Backendless\obj\NET_40_Debug*/
Backendless\obj\UNITY_WEB_PLAYER*/
*.DS_Store
Samples\GeoService\GeoServiceDemo\obj\Debug*/
Samples\GeoService\GeoServiceDemo\obj\Release*/
Samples\GeoService\GeoServiceDemo\Bin\Debug*/
Samples\GeoService\GeoServiceDemo\Bin\Release*/
Samples\MessagingService\PubSubDemo\obj\Debug*/
Samples\MessagingService\PubSubDemo\obj\Release*/
Samples\MessagingService\PubSubDemo\Bin\Debug*/
Samples\MessagingService\PubSubDemo\Bin\Release*/
Samples\MessagingService\ToDoDemo\obj\Debug*/
Samples\MessagingService\ToDoDemo\obj\Release*/
Samples\MessagingService\ToDoDemo\Bin\Debug*/
Samples\MessagingService\ToDoDemo\Bin\Release*/
Samples\MessagingService\UserServiceDemo\obj\Debug*/
Samples\MessagingService\UserServiceDemo\obj\Release*/
Samples\MessagingService\UserServiceDemo\Bin\Debug*/
Samples\MessagingService\UserServiceDemo\Bin\Release*/
Backendless/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Backendless/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Backendless/obj/NET_40_Debug/DesignTimeResolveAssemblyReferencesInput.cache
Backendless/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Backendless/obj/NET_40_Debug/DesignTimeResolveAssemblyReferencesInput.cache
Samples/DataService/ToDoDemo/Bin/Release/ToDoDemo.dll
Samples/DataService/ToDoDemo/Bin/Release/ToDoDemo.pdb
Samples/DataService/ToDoDemo/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Samples/DataService/ToDoDemo/obj/Release/ToDoDemo.csproj.FileListAbsolute.txt
Samples/DataService/ToDoDemo/obj/Release/ToDoDemo.csprojResolveAssemblyReference.cache
Samples/DataService/ToDoDemo/obj/Release/ToDoDemo.dll
Samples/DataService/ToDoDemo/obj/Release/ToDoDemo.pdb

Backendless\obj\NET_20_Debug*/
Backendless\obj\NET_40_Release*/
Backendless\obj\NET_45_Debug*/
Backendless\obj\Release*/
Backendless.NET.userprefs

Backendless\Bin\Debug*/